* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* home */
.all-home{
 display: grid;
 place-items: center;
 height: 500px; 
}
.ash{
  height: 200px;
}
.img-arrow{
  height: 150px;
  transform: rotate(-180deg);
}
.content-form-home{
  border: 1px solid grey;
  

}
.input-home{
  border: none;
  padding: 9px;
  outline: none;
  border: 0;
}
.button-home{
  font-size: 18px;
  width: 35px;
  border: none;
  background-color: white;
  cursor: pointer;
  height: 35px;
}
/* cards */
.div-name-card{
  height: 50px;
  display: flex;
  justify-content: center;
}
.img-card{
  width: 100px; 
}
.poke-ball{
  position: absolute;
  margin-top: 130px;
  height: 55px;
}
.list-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.list-map{
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap:25px ;
  margin-left: 50px;
}
.ul-card{
  background-color: rgba(255, 0, 0, 0.795);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  height: 350px;
  width: 250px;
  list-style: none;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
}
.pokemon-card{
  margin-top: 10px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.list-name{
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
}
.content-card{
  border-top: black 3px solid;
  background-color: whitesmoke;
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.name{
  color:goldenrod
}
.types, .attack, .speed{
  color: gray;
}
.hp, .defense{
  color: royalblue;
}
/* pokedex */
.message{
  color: rgb(87, 85, 85);
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
/* search input */
.content-search{
  margin-left: 50px;
  padding: 0 20px;
}
.form-search{
  width: 200px ;
  border: 1px solid grey;
  border-radius: 5px;
}
.input-search{
  border: none;
  padding-left: 5px;
  outline: none;
  border: 0;
}
.button-search{
  font-size: 18px;
  width: 35px;
  border: none;
  background-color: white;
  cursor: pointer;
}
/* details */
.content-details{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.content-details-2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 45%;

}
.content-details-3{
  width: 40%;

}

.content-move{
  border-radius: 20px;
  margin-top: 60px;
  border: 1px solid transparent;
  background-color: lightgray;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.li-move{
  list-style: none;
  margin: 5px ;
  border: 2px outset grey;
  border-radius: 5px;
  background-color: lightgray;
}
.move-title{
  width: 100%;
  display: flex;
  justify-content: center;
  color: royalblue;
  margin: 10px 0 auto;
  text-decoration: underline black;
}
.display-move{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-details{
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.card-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  height: 350px;
  margin-top: 50px;

}
.title-card-detail{
  color: goldenrod;
  margin: 30px auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}.order, .weight,.height, .abilities, .type{
  margin-bottom: 3px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order, .height, .type{
  color: royalblue;
}.weight, .abilities{
  color: grey;
}
.details-img{
  border: 1px transparent solid;
  background-color: red;
  width: 375px;
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 20px;
}
.img-details{
  position: absolute;
  z-index: 1;
  background-color: whitesmoke;
  width: 200px;
  height: 200px;
  border: black solid 3px;
  border-radius: 50%;

}
.line-black{
  position: absolute;
  height: 20px;
  width:375px;
  background-color: black;
  z-index: 1;
}
.pokemon-img{

  height: 190px;
  width: 180px;
}
.bg-white{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: 200px;
  border-bottom: 2px solid black;
  height: 200px;
  width: 400px;
  background-color: whitesmoke;
}
.prev, .next{
  margin-top: 50px;
  height: 80px;
  width: 120px;
  background:rgba(255, 0, 0, 0.959);
  margin-left: 10px;
  border-radius: 20px;
}